.product-item.out-of-stock{
  .product-name,.product-price{
    opacity: 0.5;
  }
}
.no-stock{
  color: red;
}
.in-stock{
  color: green;
}

button.active{
  background: black;
  color: white;
}

button:hover{
  color: blue;
}

.product-search{
  border-radius: 10px;
  padding: 2px;

}

.filter-bar{
  display: flex; gap: 8px;
}

.product-list {
list-style-position: inside;
}
